<template>
	<v-app>
		<v-container grid-list-xs>
			<v-layout row wrap>
				<v-btn color="primary">
					Hello, World!
				</v-btn>
			</v-layout>
			<v-layout row wrap>
				<v-btn icon color="primary" >
					<v-icon>fa-home</v-icon>
				</v-btn>
			</v-layout>
			<v-layout row wrap>
				<v-icon>fa-home</v-icon>l'icona dovrebbe stare qui
			</v-layout>
			<v-date-picker v-model="a" :landscape="true" :reactive="true" next-icon="fa-forward" prev-icon="fa-backward"></v-date-picker>
		</v-container>
	</v-app>
</template>

<script>
export default {
	data: function() {
		return {
			a: null
		}
	},
	components: {}
};
</script>